---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Cookies">
  <main class="main-container">
    <h1 class="main-header">Política de Cookies | Reina Multiservicios Costablanca</h1>
    <div class="space-y-4">
      <p>
        Este sitio web
        <strong>utiliza cookies de terceros</strong> (Google Analytics)
        únicamente con el <strong>consentimiento explícito</strong> del usuario.
      </p>

      <p>
        Una cookie es un archivo que se almacena en el navegador del usuario cuando visita un sitio web.
        En concreto, las cookies de Google Analytics son las que recopilan información de los 
        visitantes del sitio web que utiliza esta herramienta de análisis. Se pueden recopilar datos 
        como dónde hizo clic el usuario, cuánto tiempo permaneció en una página, qué ruta de
        navegación siguió o desde qué dispositivo accedió al sitio web.
      </p>

      <p>
        La recolección de datos se realiza de manera completamente <strong>anónima</strong>.
        Los datos recolectados se retienen el tiempo mínimamente necesario.
        <strong> No se vinculan datos personales</strong>, como nombre, correo electrónico,
        IP del usuario, etc.
      </p>

      <p>
        Gracias a la medición precisa que ofrecen las cookies, pueden optimizar la experiencia 
        digital, mejorar la estructura del sitio y adaptar los mensajes y funcionalidades a las 
        necesidades reales del público objetivo.
      </p>

      <p>
        A través del seguimiento anónimo de patrones de comportamiento —como el número de visitas,
        la duración de las sesiones, los dispositivos utilizados o las páginas de entrada y salida—, 
        las cookies permiten tomar decisiones basadas en datos y no en suposiciones.
      </p>

      <p>
        Gracias a las cookies, los equipos de marketing y desarrollo pueden se puede mejorar la
        experiencia del usuario, detectar cuellos de botella en la navegación y evaluar el impacto 
        de campañas publicitarias.
      </p>

    </div>
  </main>
</MainLayout>
