---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Cookies">
  <main class="main-container">
    <h1 class="main-header">Política de Cookies | Reina Multiservicios Costablanca</h1>
    <div class="space-y-4">
      <p>
        En la actualidad, este sitio web
        <strong>no utiliza cookies propias ni de terceros</strong> para el
        análisis, personalización o publicidad.
      </p>

      <p>
        No obstante, en un futuro podría emplearse tecnología de cookies con
        fines analíticos, en cuyo caso se informará previamente al usuario y se
        solicitará su consentimiento, conforme a lo dispuesto en la normativa
        vigente.
      </p>

      <p>
        Una cookie es un pequeño archivo de texto que se almacena en el
        navegador del usuario y que permite recordar cierta información entre
        visitas. Las cookies pueden ser propias (establecidas por este sitio) o
        de terceros.
      </p>

      <p>
        En caso de que se implementen cookies analíticas (como Google
        Analytics), se detallará en esta página su finalidad, duración y
        proveedor, y se ofrecerán opciones para aceptarlas o rechazarlas.
      </p>
    </div>
  </main>
</MainLayout>
