---
const target = "/inicio/"; 
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=${target}`} />
    <link rel="canonical" href={target} />
    <title>Redirigiendo a Inicio...</title>
  </head>
  <body>
    <p>Redirigiendo a <a href={target}>Inicio</a>...</p>
  </body>
</html>

