---

interface Props {
  image: string;
  title: string;
  text?: string;
  href?: string;
}
const { image, title, text, href = '' } = Astro.props;

---

<a 
  class="relative overflow-hidden w-full rounded-xl shadow-sm h-16 lg:h-32 group cursor-pointer"
  href={ href }
>
  <figure class="overflow-hidden w-full">
    <img src={ image } class="kenburns h-full w-full object-cover"/>
  </figure>
  <div class="absolute inset-0 bg-black/60 group-hover:bg-black/10 transition-colors duration-1000"></div>
  <div class="absolute inset-0 p-4 flex flex-col justify-end">
    <h2 class="text-gray-100 font-bold">{ title }</h2>
    {
      text && (<p>{ text }</p>)
    }
  </div>
</a>
