---
import { Image } from 'astro:assets';

interface Props {
  image: string;
  title: string;
  text?: string;
  href?: string;
}
const { image, title, text, href = '' } = Astro.props;

const imagesMap = import.meta.glob('../assets/images/*.{png,jpg,jpeg,webp,avif}', {
  eager: true,
  import: 'default',
});

const img = imagesMap[`../assets/images/${image}`];

---

<a 
  class="relative overflow-hidden w-full rounded-xl shadow-sm h-16 lg:h-32 group cursor-pointer"
  href={ href }
>
  <figure class="overflow-hidden w-full">
    <Image 
      src={img}
      alt={`Imagen de ${title}`}
      widths={[320, 480, 640]}
      sizes="(max-width: 640px) 100vw, 33vw"
      quality={65}
      format="webp"
      loading="lazy"
      data-fade
      class="kenburns h-full w-full object-cover"
    />
  </figure>
  <div class="absolute inset-0 bg-black/60 group-hover:bg-black/10 transition-colors duration-1000"></div>
  <div class="absolute inset-0 p-4 flex flex-col justify-end">
    <h2 class="text-gray-100 font-bold">{ title }</h2>
    {
      text && (<p>{ text }</p>)
    }
  </div>
</a>
