---
interface Props {
  link: string;
  text: string;
} 
const { link, text } = Astro.props;
---
<a
  href={link}
  class="btn btn-primary text-lg shadow-md hover:scale-105 transition-transform"
>
  {text}
</a>
