---
import { Image } from 'astro:assets';
import 'photoswipe/style.css';

interface Props {
  images: string[];
}

const { images } = Astro.props;

const imagesMap = import.meta.glob('../assets/images/*.{png,jpg,jpeg,webp,avif}', {
  eager: true,
  import: 'default',
});
const resolvedImages = images
  .map(image => imagesMap[`../assets/images/${image}`])
  .filter(Boolean);

---

<section id="gallery" class="container mx-auto px-6 py-12 grid grid-cols-2 md:grid-cols-3 gap-4">
  {
  resolvedImages.map(img => (
  <a href={img.src} target="_blank" class="block group">
    <Image
        src={img} 
        alt={`Imagen de galería`}
        widths={[300, 450, 600]}
        sizes="(max-width: 768px) 50vw, 33vw"
        quality={60}
        format="webp"
        loading="lazy"
        data-fade
        class="rounded-lg shadow-sm hover:opacity-90 transition duration-300 object-cover w-full h-[20vh]"
    />
  </a>
  ))
  }
</section>

<script>
  async function init() {
    const { initGallery } = await import('../scripts/photoswipe-init.js');
    initGallery('#gallery');
  }

  if (document.readyState === 'complete' || document.readyState === 'interactive') {
    // Si el DOM ya está listo
    init();
  } else {
    // Esperar a que se cargue
    document.addEventListener('DOMContentLoaded', init);
  }
</script>
