---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import { useTranslations, defaultLang, type Language } from '../i18n/ui';

interface Props {
  title: string;
  subtitle: string;
  image: string | ImageMetadata;
}
const { title, subtitle, image } = Astro.props;
const lang = (Astro.currentLocale ?? defaultLang) as Language;
const t = useTranslations(lang);
let original: ImageMetadata | undefined;
if (typeof image === 'string') {
  const imagesMap = import.meta.glob<ImageMetadata>('../assets/images/*.{png,jpg,jpeg,webp,avif}', { eager: true, import: 'default' });
  original = imagesMap[`../assets/images/${image}`];
} else {
  original = image;
}

---
<header class="relative h-[40vh] overflow-hidden flex items-center justify-center text-center text-neutral-content bg-base-100">
  <!-- Imagen de Fondo -->
  <Image 
    src={original}
    alt={`${t('image.of')} ${title}`}
    widths={[800, 1600]}
    sizes="100vw"
    quality={70}
    priority={true}
    data-fade
    class="absolute inset-0 w-full h-full object-cover bg-transparent"
  />
  <!-- Capa Oscura -->
  <div class="absolute inset-0 bg-black/40"></div>
  <!-- Contenido -->
  <div class="relative z-10 px-4">
    <h1 class="text-4xl md:text-6xl font-bold mb-4 fade-up">
      { title }
    </h1>
    <h2 class="text-xl md:text-2xl fade-up-delay">
      { subtitle }
    </h2>
  </div>
</header>


<!--
<header
  class="relative h-[40vh] bg-cover bg-center flex flex-col items-center justify-center text-center"
  style={`background-image: url('${ optimized.src }')`}
>
  <div class="absolute inset-0 bg-black/40"></div>
  <div class="relative z-10 px-4 text-gray-100">
    <h1 class="text-4xl md:text-6xl font-bold mb-4 fade-up">{ title }</h1>
    <h2 class="text-xl md:text-2xl fade-up-delay">{ subtitle }</h2>
  </div>
</header>
-->

