---
import { getCollection, render } from "astro:content";
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";
import HeroService from "../../components/HeroService.astro";
import FeaturesService from "../../components/FeaturesService.astro";
import Gallery from "../../components/Gallery.astro";
import ParallaxService from "../../components/ParallaxService.astro";
import FaqService from "../../components/FaqService.astro";
export const getStaticPaths = ( async () => {
  const services = await getCollection('services');
  return services.map( entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}) satisfies GetStaticPaths;
const { entry } = Astro.props;
const { Content } = await render(entry);
const data = entry.data;
---

<MainLayout title={ data.title }>
  <main>
    <HeroService 
      title={ data.h1} 
      subtitle={ data.subtitle } 
      image={ data.headerImage } 
    />
    <FeaturesService features={ data.features } />
    <Gallery images={ data.gallery }/>
    <ParallaxService 
      image={ data.parallaxImage } 
      slogan={ data.slogan } 
    />
    <FaqService faqs={ data.faqs }/>
  </main>
</MainLayout>
