---
import '../styles/global.css';
import { findPageByUrl, siteMap } from '../data/siteMap';
import Navbar from '../components/Navbar.astro';
const pageData = findPageByUrl(Astro.url.pathname)
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{ pageData.title } | Reina Multiservicios</title>
	</head>
	<body>
    <Navbar siteMap={siteMap} />
    <h1 class="text-center text-3xl font-bold mt-4">{ pageData.h1 }</h1>
	</body>
</html>
