---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import { siteMap } from '../data/siteMap';
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/FaviconReina.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{ title } | Reina Multiservicios</title>
	</head>
  <script>
    document.addEventListener('DOMContentLoaded', ()=>{
      document.querySelectorAll('img[data-fade]').forEach(img => {
        if (img.complete) {
          img.classList.add('is-loaded');
        } else {
          img.addEventListener('load', () => {
            img.classList.add('is-loaded');
          });
        }
      });
    });
  </script>
	<body>
    <Navbar siteMap={ siteMap } />
    <slot />
    <Footer />

	</body>
</html>
